@font-face { 
font-family: "bat-iconfont";src: url("./fonts/bat-iconfont.eot");
src: url("./fonts/bat-iconfont.eot?#iefix") format("embedded-opentype"),
url("./fonts/bat-iconfont.woff") format("woff"),
url("./fonts/bat-iconfont.ttf") format("truetype"),
url("./fonts/bat-iconfont.svg#bat-iconfont") format("svg");}
.bat-iconfont{font-family:"bat-iconfont";font-size:14px;font-style:normal;}
.i-iconfont-ren:before{content: "\ffff";}
.i-iconfont-player-play:before{content: "\fffe";}
.i-iconfont-guanbi:before{content: "\fffd";}